{% extends 'base.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h2>Профиль: {{ profile_user.first_name }} {{ profile_user.last_name }}</h2>

{% if profile_user.avatar %}
    <img src="{{ profile_user.avatar.url }}" alt="Аватар" style="max-width: 200px;">
{% endif %}

<ul>
    <li><strong>Email:</strong> {{ profile_user.email }}</li>
    <li><strong>Имя:</strong> {{ profile_user.first_name }}</li>
    <li><strong>Фамилия:</strong> {{ profile_user.last_name }}</li>
    <li><strong>Bio:</strong> {{ profile_user.bio }}</li>
    <li><strong>Instagram:</strong> <a href="{{ profile_user.instagram }}">{{ profile_user.instagram }}</a></li>
    <li><strong>Website:</strong> <a href="{{ profile_user.website }}">{{ profile_user.website }}</a></li>
</ul>

{% if is_own_profile %}
    <a href="{% url 'profile' %}">Редактировать профиль</a>
{% endif %}
{% endblock %}
